body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:516px;
  height:326px;
}
#u1 {
  position:absolute;
  left:20px;
  top:360px;
  width:516px;
  height:276px;
}
